SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93ZHNibmVhYnlkZ21mbW56YXNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MTA1NTcsImV4cCI6MjA5MzM4NjU1N30.5H8sJz39hsrzh2L_c7I6zsC_jr6zfDjmWW3V8svFlNk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93ZHNibmVhYnlkZ21mbW56YXNhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzgxMDU1NywiZXhwIjoyMDkzMzg2NTU3fQ.FQbzQ65pv0CYIx93wHht1_cRbogVxmTnjuuSpRigMbQ
SECRET_KEY=9f3d5f40b5c34fbc9ea7dca0d4634a7714fd6e0e26bbda8b
SUPABASE_URL=https://owdsbneabydgmfmnzasa.supabase.co