<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

<h1>Create Account</h1>

<form method="POST">

<input type="text"
name="company_name"
placeholder="Company Name"
required>

<input type="email"
name="email"
placeholder="Email"
required>

<input type="password"
name="password"
placeholder="Password"
required>

<button type="submit">
Sign Up
</button>

</form>

<a href="/login">
Already have account?
</a>

</div>

</body>
</html>